framework:
    messenger:
        transports:
            doctrine:
                dsn: '%env(MESSENGER_TRANSPORT_DOCTRINE_DSN)%'
                serializer: messenger.transport.symfony_serializer

        routing:
            'App\Message\GenerateOrderReportMessage': doctrine