stages:
  - prepare
  - test
  - cleanup

prepare:
  stage: prepare
  image: docker:latest
  services:
    - name: docker:19.03.12
      entrypoint: ["/bin/sh", "-c", "while true; do sleep 30; done;"]
  script:
    - make init

php-unit:
  stage: test
  image: docker:latest
  services:
    - name: docker:19.03.12
      entrypoint: ["/bin/sh", "-c", "while true; do sleep 30; done;"]
  script:
    - make php-unit

php-cs:
  stage: test
  image: docker:latest
  services:
    - name: docker:19.03.12
      entrypoint: ["/bin/sh", "-c", "while true; do sleep 30; done;"]
  script:
    make php-cs

cleanup:
  stage: cleanup
  image: docker:latest
  services:
    - name: docker:19.03.12
      entrypoint: ["/bin/sh", "-c", "while true; do sleep 30; done;"]
  script:
    - docker-compose down