name: run tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker and Make
        run: |
          sudo apt-get install -y docker-compose make

      - name: Run make init (build and start containers, run migrations and fixtures)
        run: |
          make init

      - name: Run PHP Unit tests using Makefile
        run: |
          make php-unit

      - name: Run PHP-CS Fixer using Makefile
        run: |
          make php-cs

      - name: Shutdown containers
        run: |
          docker-compose down
